<header>
    <div class="container-fluid bg-light font-header">
        <nav class="navbar navbar-inverse navbar-light bg-light">
            <div>
                <a class="navbar-brand" href="{{site.baseurl}}{{ site.url }}">
                    <h2 class="display-5">NTL RESEARCH</h2>
                </a>
            </div>

            <div>
                <ul class="nav bg-light" style="color:black">
                    {% for link in site.links %}
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="{{ site.baseurl }}{{ link.url }}">
                            <h5 class="line">{{ link.title }}</h5>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>

        </nav>
    </div>

    {% include jumbo.html %}
    <!-- {% include carousel.html %} -->


</header>
