<header>
    <div class="container-fluid">
        <nav class="navbar navbar-inversw navbar-light bg-light">
            <div>
                <a class="navbar-brand" href="{{ site.baseurl }}{{ site.url }}">
                    <h1 class="display-4">NTL RESEARCH</h1>
                </a>
            </div>
            <div>
                <ul class="nav bg-ligh" style="color:black">
                    {% for link in site.links %}
                    <li class="nav-item">
                        <a class="nav-link text-dark font-weight-bold" href="{{ site.baseurl }}{{ link.url }}">{{ link.title }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>

        </nav>
    </div>

    {% include jumbo.html %}
    <!-- {% include carousel.html %} -->


</header>
