<header>
    <div class="container-fluid">
        <nav class="navbar navbar-dark bg-dark">
            <div>
                <a class="navbar-brand" href="{{site.baseurl}}">
                    <h1 class="display-4">NTL RESEARCH</h1>
                </a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav bg-light" >
                    {% for link in site.links %}
                    <li class="nav-item">
                        <a class="nav-link text-dark font-weight-bold" href="{{ site.baseurl }}{{ link.url }}">{{ link.title }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>

        </nav>
    </div>


</header>
