<div class="jumbotron jumbotron-fluid shadow " style="background: url({{site.baseurl}}/images/background3.jpg); background-size:cover ; background-position:center; color:white">
    <div class="container">
        <h1 class="display-4" style="color:white">Hello World</h1>
        <p class="lead h3">Chào mừng tới blog của NTL research</p>
        <hr style="border-top: 1px solid white">
        <h2 class="display-5">Các bạn có thể tìm thấy các bài viết cập nhật phía bên dưới</h2>

        <br>
        <div class="row">

            <div class="col-md">
                <button class="btn btn-light btn-lg" type="button" name="button">Danh mục đầu tư mô phỏng</button>
            </div>
            <div class="col-md">
                <button class="btn btn-light btn-lg" type="button" name="button">Track Record</button>
            </div>
            <div class="col-md">
                <button class="btn btn-light btn-lg" type="button" name="button">Ứng dụng khác</button>
            </div>

        </div>
    </div>
</div>
