<div class="jumbotron jumbotron-fluid shadow " style="background: url({{site.baseurl}}/images/back1.jpg); background-size:cover ; background-position:center; color:white">
    <div class="container">
        <h1 class="display-4" style="color:white">Hello Quantitative World</h1>
        <p class="lead h3">Chào mừng tới blog của NTL research</p>
        <hr style="border-top: 1px solid white">
        <h2 class="display-5">Các bạn có thể tìm thấy các bài viết cập nhật phía bên dưới</h2>

        <br>
        <div class="row text-left">
            <div class="col-md-8">
                <a class="btn btn-light btn-md border-info" href="{{site.baseurl}}">Danh mục đầu tư mô phỏng</a>
                <a class="btn btn-light btn-md border-success" href="{{site.baseurl}}">Track Record</a>
                <a class="btn btn-light btn-md border-warning" href="{{site.baseurl}}">Ứng dụng khác</a>
            </div>
        </div>

    </div>
</div>
