<div class="jumbotron jumbotron-fluid shadow " style="background: url({{site.baseurl}}/images/background3.jpg); background-size:cover ; background-position:center; color:white">
    <div class="container">
        <h1 class="display-4" style="color:white">Hello World</h1>
        <p class="lead h3">Welcome to my blog</p>
        <hr style="border-top: 1px solid white">
        <h2 class="display-5">You can find below interesting projects and articles</h2>

        <br>
        <div class="row">

            <div class="col-md">
                <button class="btn btn-light btn-lg" type="button" name="button">Portfolio Performance</button>
            </div>
            <div class="col-md">
                <button class="btn btn-light btn-lg" type="button" name="button">Portfolio Visualizer</button>
            </div>
            <div class="col-md">
                <button class="btn btn-light btn-lg" type="button" name="button">Webapp</button>
            </div>

        </div>
    </div>
</div>
