
.center-image{
    margin: 0 auto;
    display: block;
}

.title-color {
    color: #14213D;
    // color: red;
}

.impt-color {
    color: #FCA311;
}

.bgk-color {
    background-color: #E5E5E5;
}

.bottom-three {
    margin-bottom: 15cm;
    margin-top: 15cm;
}

.font-body1 {
    font-size: $base-font-size;
}
