
.catego-color {
    background-color: #00A8E8;
    color: white;
    padding: 5px;
    margin: 0;
    border:0;
    width: 200px;
    border: 2px solid #70C1B3;
}

.test {
    background-color: #FCA311;
    width: 150px;
}
